body , html{
       margin: 0;
       padding: 0;
        min-height: 100vh; /* Ensures the body takes at least the full height of the viewport */
    display: flex;
    flex-direction: column;
}
header{
    /* background-image:url('../Banner\ Image.png'); */
    background-position:center;
    background-repeat: no-repeat;
    width: 1070px;
    height: 470px;
    margin: 0 auto;
    padding: 120px 125px 9.2px 124px;
    background-image: linear-gradient(to bottom, #070211 0%, rgba(7, 2, 17, 0.125) 100%),url('../Banner\ Image.png');
    margin-top: 50px;
    
}
.banner{
color: #fff;
text-align: center;
padding-top: 67px;
}
.banner-title-1{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;  
}
.banner-title-2{
    font-size: 72px;
    font-weight: 900;
    margin-top: 26px;
}
.section-1{
    width: 50%;
    margin: 0 auto;
}
 .section-2{
    width: 750.9px;
    height: 500px;
    margin-top: 25.5px;
 }

 .box{
   background-image:url('../Vectorrr.png');
   width: 1320px;
   height: 598px;
   background-repeat: no-repeat;
   margin: 0 auto;
   margin-top: 127px;
   border-radius: 16px;
   background-image: linear-gradient(to left, #07021147, rgba(3, 1, 8, 0.838) 100%),url('../Vectorrr.png');

   
   
 }
 .box-1{
    text-align:left;
    padding-left: 125px;
    padding-top: 100px;
 }
 .box-2{
    color:#ffffff;
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 8px;
 }
 .box-3{
    color: 
    #ffffffcc;
    font-size: 18px;
 }


 .join{
    margin-top: 60px;
   margin-left: 35px;
    color:
    #ffffff; 
    font-size: 18px;
    
 }
 .boarder{
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.132), rgba(255, 0, 0, 0));
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 1320px;
    height: 512.8px;
    margin-top: 127px;
 }
 .boarder1{
  
   margin: 0 auto;
   width: 1320px;
   height: 512.8px;
  
}
.boarder2{
  
   margin: 0 auto;
   width: 1320px;
   margin-top: -190px;
  
  
}
 .center{
    text-align: center;
    color: #070211;
    padding-top: 106.4px;
    font-size: 32px;
    
     
 }
 .red{
    color:
    #ff0000;
 }
 .now{
    width: 167px;
    height: 56px;
    margin-top:51px;
    border-radius: 8px;
    background-color: #f00;
    color: 
    #ffffff;
    font-size: 18px;
    border:none;
 }
 .blue{
    width: 150px;
    height: 50px;
    margin: 0 auto;
 }
 .best{
   display: flex;
   margin-top: 20px;
   
 }
 .first{
    margin-left: 130px;
 }
 .second{
   margin: 0 auto;
   margin-right: 130px;
   margin-left: 100px;
 }
 .best-1{
   color: #f00;
   font-size: 20px;
   font-weight: 500;
 }
 .best-2{
   color: #070211;
   font-size: 45px;
   font-weight: 900;
   
 }
 .best-3{
   color: rgba(7, 2, 17, 0.6);
   font-size: 18px;
 }
 .best-4{
   color: #f00;
   font-weight: bold;
   font-size: 45px;
 }
 .best-5{
   width: 140px;
   height: 149px;
 }
 
.background{
   border: solid 15px 
   #ff0000;
   border-radius: 50%;
   padding: 15px;
   margin-left: 40px;
}
.back{
   width: 350.8px;
   height: 370.2px;
   
}
.sale-1{
   text-align: center;
}
.sale-2{
   color: #070211;
   font-size: 20px;
   font-weight: 500px;
   margin-top: 100px;
}
.sale-3{
   color: #070211;
   font-size: 55px;
   font-weight: 900;
   margin-top: 10px;
   margin-bottom: 25px;
}
.span{
   
color:#ff0000;
}


   .one{
      width: 100%;
      margin: 0 auto;
      margin-top: 50px;
      background-color:black;
   }

   .two{
      width: 60%;
      height: 500px;
   }
   .three{
      height: 200px;
   }
.gift{
   margin-top:0;
}
.gift-1{
   
  color: #ff0000;
  font-size: 20px;
  font-weight: 500px;
}
.gift-2{
  color: 
  #070211;
  font-size: 45px;
  font-weight: 900;
  margin-top: 15px;
  margin-bottom: 20px;
}
.school{
   margin-top: 50px;
}
.school-1{
  border-radius: 16px;
  display: flex;
  gap: 20px;
}
.school-2{
   gap: 20px;
   border-radius: 16px;
   display: flex;
   margin-top: 25px;
}
.mail{
   text-align: center;
  
   background-color: #ff00000c;
   padding:90px 212px 90px 212px ;
   margin-top:350px;
   margin-bottom: 125px;
}

 .mail-2{
   color: #070211;
   font-size: 45px;
   font-weight: 900;
   margin-top: 40px;
   margin-bottom: 25px;
 }

 form{
   display: flex;
   text-align: center;
   /* justify-content: center; */
   width: 530px;
   height: 40px;
  
 }
 form input{
   flex: 1;
   border: none;
   outline: none;
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
   padding-top: 26px;
   padding-left:35px ;
   padding-bottom: 26px;
 }
 .search-box{
 
   display: flex;
   justify-content: center;

 }
 form button{
   border: none;
   outline: none;
   /* border-radius:30px; */
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
   background-color: #f00;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   padding:26px 35px;
   display: flex;
   align-items: center;
 }
 .footer{
   background-color: black;
   width: 100%;
   height: 647.9px;
   color: #fff;

   
 }
 .social-media{
   align-items: center;
   display: flex;
   justify-content: center;
   margin-top: 30px;
   gap: 30px;

  

 }
 .footer-up{
   width: 80%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   margin-top: 40px;
   font-size: 20px;
 }

        
